{% extends 'base.html' %}
{% block title %}
    Inspire
{% endblock %}
{% load static %}
{% block content %}
    <div class="container" style="width: 50%">
    <h2>We are cool!</h2>
    <table border="1">
        <tr>
            <td>Stylist works</td>
            <td>{{ stw }}</td>
        </tr>
        <tr>
            <td>Photographer works</td>
            <td>{{ phw }}</td>
        </tr>
        <tr>
            <td>Model works</td>
            <td>{{ mdw }}</td>
        </tr>
        <tr>
            <td>Make up artist works</td>
            <td>{{ mkw }}</td>
        </tr>
    </table>
     <table border="1">
        <tr>
            <td>Max price</td>
            <td>{{ max_p }}</td>
        </tr>
        <tr>
            <td>Min price</td>
            <td>{{ min_p }}</td>
        </tr>
        <tr>
            <td>Items count</td>
            <td>{{ items }}</td>
        </tr>
         <tr>
            <td>Items which price is greater than id</td>
            <td>{{ gtid }}</td>
        </tr>
         <tr>
            <td>It is ITIS, isn't it?</td>
            <td>{{ itis }}</td>
        </tr>

    </table>
    </div>
{% endblock %}