{% extends 'base.html' %}
{% block title %}
    Add new photo
{% endblock %}
{% block add_style %}
    <style type="text/css">
        #self_photo {
            max-width: 500px;
            max-height: 500px;
        }
    </style>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <a class="btn btn-outline-info m-1" href="create" style="position: relative;left: 50%;transform: translate(-50%, 0);">Add new photo</a>
        </div>
    {% endif %}
    {% for photo in photos %}
        <div class='container border border-warning text-dark'>
            <div class='row justify-content-md-center'>
                <div class="col">
                    <a href="{{ photo.id }}"><h5>{{ photo.title }}</h5></a>
                    <h5>Models:</h5>
                    {% if photo.super_models %}
                        <li>{{ photo.super_models.name }}</li>
                    {% endif %}
                    <br>

                    {% if photo.photographer %}
                        <h5>Photographer:</h5>
                        <li>{{ photo.photographer }}</li>
                    {% endif %}
                    <br>

                    {% if photo.stylist %}
                        <h5>Stylist:</h5>
                        <li>{{ photo.stylist }}</li>
                    {% endif %}
                    <br>

                    {% if photo.make_up_artist %}
                        <h5>Visagist:</h5>
                        <li>{{ photo.make_up_artist }}</li>
                    {% endif %}
                </div>
                <div class="col col-md-auto">{% if photo.photo %}
                    <p class="image"><img src="{{ photo.photo.url }}" id="self_photo" alt="photo"></p>
                {% endif %}
                </div>

                {% comment %}</div>{% endcomment %}
            </div>
        </div>
    {% endfor %}
{% endblock %}